# cSpell:ignore njsproj, ntvs
.DS_Store
.eslintcache
.idea
*.local
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
*storybook.log
coverage
dist
dist-ssr
lerna-debug.log*
logs
node_modules
pnpm-debug.log*
pnpm-debug.log*
pnpm-lock.yaml
storybook-static
yarn-debug.log*
yarn-error.log*
