{
  "printWidth": 120,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "overrides": [
    {
      "files": ["*.json", "*.code-workspace"],
      "options": {
        "trailingComma": "none"
      }
    }
  ]
}
