/* CSS reset taken from https://www.joshwcomeau.com/css/custom-css-reset/ */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    /* eslint-disable-next-line css/use-baseline */
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  border: none;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  /* eslint-disable-next-line css/use-baseline */
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /* eslint-disable-next-line css/use-baseline */
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

* {
  font-family: 'Funnel Sans', sans-serif;
}

/* -------------------------------------------------------------------------- */

/* Global variables */
html {
  --_color-primary: #ff0091;
  --_color-secondary-light: #990057;
  --_color-secondary-dark: #ff8acc;
  --_color-text: #212121;
  --_color-background: #ffffff;

  --color-gray: #bfbfbf;
  --color-gray-2: #bebebe;
  --color-accent: #bf82fd;

  --border-radius-sm: 0.5rem;
  --border-radius-md: 1rem;
  --border-radius-lg: 2rem;
  --padding: 1rem;
  --margin: 1rem;

  --header-height: max(15vh, 150px);
  --footer-height: max(10vh, 50px);

  font-size: 16px;
}

/* https://caniuse.com/css-has 92.8% adoption rate as of 2025-06-28 */
/* eslint-disable-next-line css/use-baseline */
html:has(body[data-theme='light']) {
  --color-primary: var(--_color-primary);
  --color-secondary: var(--_color-secondary-light);
  --color-text: var(--_color-text);
  --color-background: var(--_color-background);
  color-scheme: light;

  /* eslint-disable css/no-invalid-properties */
  color: var(--color-text);
  background-color: var(--color-background);
  /* eslint-enable css/no-invalid-properties */
}

/* eslint-disable-next-line css/use-baseline */
html:has(body[data-theme='dark']) {
  --color-primary: var(--_color-primary);
  --color-secondary: var(--_color-secondary-dark);
  --color-text: var(--_color-background);
  --color-background: var(--_color-text);
  color-scheme: dark;

  /* eslint-disable css/no-invalid-properties */
  color: var(--color-text);
  background-color: var(--color-background);
  /* eslint-enable css/no-invalid-properties */
}

/* -------------------------------------------------------------------------- */

/* Simpler class styling */
.header-footer {
  /* override glassy class */
  /* eslint-disable-next-line css/no-important */
  position: fixed !important;
  inset-inline: 0px;
  z-index: 1000;
  /* eliminate border around edges without having to break the glassy class */
  overflow: hidden;
  width: calc(100% + 2px);
}

.text-and-media {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.text-and-media--left {
  flex-direction: row;
}

.text-and-media--right {
  flex-direction: row-reverse;
}

@media (max-width: 760px) {
  .text-and-media--left,
  .text-and-media--right {
    flex-direction: column;
  }
}

/* -------------------------------------------------------------------------- */

/* Glowing border */
.glowing-border {
  /* the only thing you should change is the gradient colors */
  --gradient-colors:
    var(--color-primary), var(--color-secondary), var(--color-accent), var(--color-secondary), var(--color-primary);

  border: none;
  /* eslint-disable-next-line css/no-invalid-properties */
  background: var(--color-background);
  position: relative;
}

/* eslint-disable-next-line css/use-baseline */
@property --gradient-angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

.glowing-border::before,
.glowing-border::after {
  content: '';
  position: absolute;
  inset: -3px;
  z-index: -1;
  /* eslint-disable-next-line css/no-invalid-properties */
  background: conic-gradient(from var(--gradient-angle), var(--gradient-colors));
  border-radius: inherit;
  animation: rotation 3s linear infinite;
}

.glowing-border::after {
  filter: blur(0.25rem);
}

/* -------------------------------------------------------------------------- */

/* Glassy card */
.glassy {
  --border-width: 1px;
  /* border-radius: var(--border-radius-md); */
  position: relative;

  /* eslint-disable-next-line css/no-invalid-properties */
  background: hsl(from var(--color-background) h s l / 0.25);
  /* eslint-disable-next-line css/use-baseline */
  backdrop-filter: blur(12px);
}

.glassy::before {
  content: '';
  position: absolute;
  z-index: -1;
  inset: 0;
  border-radius: inherit;
  border: var(--border-width) solid transparent;
  background: linear-gradient(var(--color-gray), var(--color-gray-2)) border-box;
  /* eslint-disable-next-line css/use-baseline */
  mask:
    linear-gradient(black, black) border-box,
    linear-gradient(black, black) padding-box;
  /* eslint-disable-next-line css/use-baseline */
  mask-composite: subtract;
}

/* -------------------------------------------------------------------------- */

/* Divider */
.divider-glyphs::before {
  content: '৷ ৷ ৷';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-gray);
}

/* -------------------------------------------------------------------------- */

/* Image carousel */

@keyframes scroll {
  to {
    transform: translateX(calc(-50% - var(--padding) / 2));
  }
}
